.cell {
    border: 0px solid white;
    font: 12px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}